.testimonial {
  background-image: url("../../Images/testimony.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.user-img img {
  border: 0.1rem solid #cd532d !important;
  border-radius: 50%;
}
.user-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-name,
.user-role {
  font-size: 0.9rem !important;
  color: #ffca28 !important;
}
